<!DOCTYPE html>
<html lang="en">
<head>
  <title>DiscogsDb</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <title>Discogs-db</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <%= stylesheet_link_tag "application" %>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
  <style>
      body {
          font-family: 'Source Sans Pro', serif;
      }
      a {
          text-decoration: none;
      }
  </style>
  <%= javascript_importmap_tags %>

</head>

<body>
<%= yield %>
</body>
</html>

